<% layout("/layouts/boilerplate") %>

    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h3>Apply for Listing</h3>
            <form method="POST" action="/listings/<%= listing._id %>/apply" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="applicantName" class="form-label">Your Name</label>
                    <input name="useruploads[applicantName]" type="text" class="form-control" required />
                    <div class="invalid-feedback">Please provide your name.</div>
                    <div class="valid-feedback">Looks good!</div>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email Address</label>
                    <input name="useruploads[email]" type="email" class="form-control" required />
                    <div class="invalid-feedback">
                        Please provide a valid email address.
                    </div>
                </div>

                <% for (let i = 0; i < listing.documents.length; i++) { %>
                    <div class="mb-3">
                        <label for="file<%= i %>" class="form-label">File <%= i + 1 %></label>
                        <input class="form-control" type="file" name="useruploads[documents]" id="formFile<%= i %>" required>
                        <div class="invalid-feedback">
                            Please provide a valid file.
                        </div>
                    </div>
                    <% } %>

                        <div class="mb-3">
                            <label for="message" class="form-label">Message</label>
                            <textarea name="useruploads[message]" class="form-control" required></textarea>
                        </div>

                        <button class="btn btn-dark mt-3 mb-3">Apply</button>
            </form>
        </div>
    </div>